* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}


.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}


.box {
    /* border: 2px solid black; */
    height: 500px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    transition: transform .2s;
}

.box-content:hover{
    transform: scale(1.1);
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all;
    transition-duration: 1.5s;
}

.box-content a{
    color: #007185;
    margin-top: 25px;
}

img{
    display: inline-block;
}

.description {
    display: flex;
    align-items: flex-start;
}

.description ul {
    margin-top: 15px;
}